@use "/src/sass/base/variables.scss" as *;
.cards {
  &__list {
    display: none;
  }
  &__wrapper {
    display: grid;
    gap: 25px;
    margin-bottom: 40px;
    align-items: center;
  }
  &__slider {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    &__wrapper {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      font-weight: 400;
      font-size: 17px;
      line-height: 130%;
    }
    &__next {
      transform: rotate(180deg);
    }
    &__item-active {
      color: $white;
      &:before {
        display: block;
        content: "";
        width: 30px;
        height: 30px;
        background-color: $black;
        position: absolute;
        transform: translate(-33%, -15%);
        border-radius: 100%;
        z-index: -1;
      }
    }
  }
}
.card {
  width: 100%;
  &__wrapper {
    border-radius: 25px;
    background-color: $beige;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    img {
      width: 100%;
    }
  }
  &__wrapper__descr {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    h5 {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    p {
      font-weight: 400;
      font-size: 17px;
      line-height: 140%;
      &:first-of-type {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      &:last-child {
        grid-column-start: 3;
      }
    }
  }
}
@media (min-width: 480px) {
  .cards {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  .card {
    &__wrapper {
      padding: 40px 25px;
    }
  }
}
@media (min-width: 768px) {
  .card {
    &__wrapper {
      padding: 50px;
    }
    &__wrapper__descr {
      margin-top: 15px;
      p {
        font-size: 21px;
      }
    }
  }
  .cards {
    &__wrapper {
      display: none;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-bottom: 50px;
      &__item {
        display: grid;
        grid-template-columns: 280px 2.5fr;
        border: 2px solid #bebdbc;
        border-radius: 25px;
        &__wrapper {
          border-radius: 25px 0 0 25px;
          background-color: $beige;
          padding: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        &__right {
          padding: 25px 30px;
          display: flex;
          flex-direction: row;
        }
        &__descr {
          font-weight: 400;
          font-size: 21px;
          line-height: 130%;
          display: flex;
          flex-direction: column;
          h5 {
            margin-bottom: 15px;
          }
          &__params {
            font-weight: 600;
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-top: auto;
            span {
              display: none;
              font-weight: 400;
            }
          }
        }
        &__shop {
          font-weight: 400;
          font-size: 21px;
          line-height: 140%;
          text-align: right;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .icon-shopping-bag {
            border-radius: 100px;
            width: 78px;
            height: 55px;
            background-color: $black;
            font-size: 28px;
            color: $white;
            &:before {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1000px) {
  .cards {
    &__wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__list {
      &__item {
        &__descr {
          margin-right: 80px;
          &__params {
            span {
              display: inline;
            }
          }
        }
      }
    }
  }
  .card {
    &__wrapper {
      padding: 50px;
    }
  }
}
@media (min-width: 1920px) {
  .cards {
    &__list {
      &__item {
        &__descr {
          margin-right: 121px;
          &__params {
            gap: 50px;
          }
        }
        &__shop {
          .icon-shopping-bag {
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
  .card {
    &__wrapper {
      padding: 60px;
    }
  }
}
