@use "/src/sass/base/variables.scss" as *;
.eco {
  background-color: $beige;
  text-align: center;
  padding-top: 70px;
  position: relative;
  padding-bottom: 90px;

  &__descr {
    margin-top: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
  }
}
@media (min-width: 768px) {
  .eco {
    padding-top: 90px;
    padding-bottom: 120px;
    &__descr {
      font-size: 21px;
    }
  }
}
