@use "/src/sass/base/variables.scss" as *;

.inst {
  padding-top: 70px;
  padding-bottom: 90px;
  &__img {
    margin-top: 40px;
  }
  &__link {
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    color: $black;
    text-decoration: none;
    margin-top: 10px;
  }
  &__descr {
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: $black;
    margin-top: 5px;
  }
}
@media (min-width: 480px) {
  .inst {
    img {
      width: 100%;
    }
    &__descr {
      font-size: 21px;
    }
    &__link{
      font-size: 36px;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: 2fr 2fr;
      column-gap: 20px;
    }
  }
}
