@use "/src/sass/base/variables.scss" as *;
.subscription {
  background-color: $beige;
  padding-top: 70px;
  padding-bottom: 90px;
  &__descr {
    margin-top: 20px;
  }
  &__input {
    width: 320px;
    height: 40px;
    border: none;
    background: transparent;
    border-bottom: 2px solid $black;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    &::placeholder {
      opacity: 0.3;
    }
    &:focus {
      border: none;
      outline: none;
      border-bottom: 4px solid $black;
    }
  }
  &__form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
}
.button-submit {
  margin-top: 40px;
}
@media (min-width: 480px) {
  .subscription {
    &__descr {
      width: 400px;
    }
  }
}
@media (min-width: 768px) {
  .subscription {
    padding-top: 90px;
    padding-bottom: 120px;
    &__descr {
      width: 100%;
    }
    &__descr {
      font-size: 21px;
    }
  }
}
@media (min-width: 768px) {
  .subscription {
    &__input {
      width: 450px;
    }
  }
}
