@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.button-shop {
  @include button;
  background-color: $black;
  font-weight: 700;
  line-height: 140%;
  color: $white;
}

.button-go-shop {
  @include button;
  color: $black;
  background-color: $white;
  margin-top: 35px;
}
.button-submit {
  @include button;
  width: 214px;
  color: $white;
  background-color: $black;
}
.button-add {
  @include button;
  color: $white;
  background-color: $black;
}
@media (min-width: 768px) {
  .button-shop,
  .button-go-shop,
  .button-submit,
  .button-add {
    font-size: 21px;
  }
}
